* {
    font-family:'Raleway', "Raleway";
 }
  
 body {
    background-color: rgb(120, 100, 85);
    text-align:center;
    color:rgb(77,77,86);
    margin: auto;
 }
 h3 {
   color:rgb(78,179,230);
 }
 h2 {
   color:rgb(78,179,230);
 }
 .search-input-wrapper {
    display:flex;
    justify-content:center;
    align-items: center;
 }
 img {
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }
  search-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  /* div {
     width: 400px;
  } */